.total {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
    margin-left: 30%;
}

.total-container {
    width: 400px;
    float: right;
    margin-right: 10%;
    text-align: center;
}

.total-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;

}


.table {
   text-align: center;
 margin-top: 50px;

}

tbody {
    background-color: whitesmoke;
}

td {
    text-align: center;
}

.table-img {
    width: 75px;
    height: 75px;
    border: 1px solid grey;
    border-radius: 10px;
}

.trash {
    border: none;
    width: 50px;
}

.cart-btn {
    width: 150px;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 30px;
}

.cart-btn:hover {
    color: white;
    background-color: rosybrown;
}