.cart-detail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
   justify-content: space-evenly;
   margin-top: 20px;
   margin-bottom: 20px;
  
}

.cart-total-container {
    padding: 5px;
    float: right;
    
    text-align: right;
    font-size: 18px;
    margin-bottom: 20px;
}
.cart-price {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cart-qty {
    display: flex;
    flex-direction: row;
    gap: 15px;
   
}
.table-img {
    width: 80px;
    height: 80px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    float: left;
}

.trash {
    border: none;
    width: 50px;
    font-size: 20px;
    text-align: center;
    float: right;
    
}

.cart-btn {
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;

}

.cart-btn:hover {
    background-color: beige;
    color: black;
}

.total-btns {
    margin-top: 20px;
    font-size: 15px;

}

.cart-icons {
    font-size: 20px;
    text-align: center;
}