
  .animal-img {
    border: 4px double slategray;
    overflow: hidden;
    width: 100%;
    max-height: 300x;
  }
.animal-card-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  .back-home {
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.back-home:hover {
    color: darkblue;
}

.animal-label {
  text-transform: capitalize;
  font-size: 20px;
  font-family: fantasy;
}