
.animal-img {
    border: 2px solid darkgray;
 
  }

.animal-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-bottom: 50px;
}

  .back-home {
    border: none;
    background-color: transparent;
    font-weight: bold;
}

.back-home:hover {
    color: darkblue;
}

.animal-label {
  text-transform: capitalize;
  font-size: 20px;
  font-family: fantasy;
}