.footer {
    width: 100%;
      background-color: rgb(83, 91, 91, 0.5);
      bottom: 0;
      left: 0;
      right: 0;
     /* display: flex; */
     min-width: 350px;
     overflow: hidden;
     
  }

  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
   
  }

  .footer-logo-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 15px;
  }

.footer-logo {
    height: 25px;
    width: 25px;
}

/* .footer-logo-main {
    height: 100px;
    width: 100px;
} */



.quick-links {
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    color: white;
}

.quick-link-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* justify-self: flex-end; */
    align-content: center;
    justify-items: center;
    padding: 5px;
   gap: 5px;
   
}


.copyright {
   text-align: center;
   display: flex;
   flex-direction: column;
   


}

.link-title {
   color: whitesmoke;
}

.mail-contact {
    font-size: 20px;
    color:darkblue;
    display: flex;
    flex-direction: row;
   gap: 10px;
 
}

.mail-logo {
    padding-top: 5px;
}

.question-btn {
   background-color: whitesmoke;
    font-size: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
    float: right;
}

