.layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-width: 393px;
    box-sizing: border-box;
    height: 100%;
    max-height: 850px;
    background-color: whitesmoke;
}

html {
    -webkit-text-size-adjust: 100%; 
}


