.cart-summary-container {
    float: right;
    width: 30%;
    height:fit-content;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    background-color: whitesmoke;
}

.summary-img {
    border-radius: 10px;
    image-rendering: crisp-edges;
   
}

.summary-title {
    text-align: center;
    padding-top: 15px;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.sub-container {
    display: flex;
    flex-direction: column;
   float: right;  
}

