.customer-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.guest-email {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

 .billing-input {
        width: 180;
        height: 40px;
        padding: 5px;
 }




.guest-label {
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
}

.guest-p {
    font-size: 20px;
    
}

.guest-span {
    font-size: 18px;
    font-weight: bold;
}

.signin-link {
    font-size: 15px;
    padding: 5px;
}

.customer-btn {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
   display: flex;
   align-self: center;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
}