.card-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:20px;
    
}
.payment-flex {
    width: 100%;
}

.payment-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.payment-label {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 30px;
    min-width: 50px; 
    margin-left: 30px;
}

.payment-input-container {
    width: 80%;
    display: flex;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.pay {
width: 35%;
}

.code {
    margin-right: 20%;
}

.pay-save {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.pay-save:hover {
    background-color: whitesmoke;
    color: black;
}