.email-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
 
}

.email-input {
    width: 300px;
    padding: 5px;
    min-width: 50px;
    margin-right: 2px;

}

.email-btn {
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
  

}
.email-btn:hover {
    background-color: beige;
    color: black;
}



.emailCard {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    text-align: center;
    /* margin: 5px; */
    background-color: white;
    /* margin-top: 50px; */
    width: 48%;
    min-width: 240px;
    justify-content: center;
    align-self: flex-end;
   
}