.email-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    gap: 15px;
    justify-content: center;
 
}

.email-input {
    width: 300px;
    padding: 5px;

}

.email-btn {
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
  

}
.email-btn:hover {
    background-color: beige;
    color: black;
}

.welcome {
  margin-left: 50px;
}