.link-section {
    background-color: rgb(196, 194, 190, 0.4);
    position: relative;
    padding-bottom: 20px;
    width: 100%; 
    min-width: 390px;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 390px;
    overflow: scroll;
}
