.link-section {
    background-color: rgb(196, 194, 190, 0.4);
    position: relative;
    bottom: 0; 
    padding-bottom: 20px;
    
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
