.contact-section {
    display: flex;
    flex-direction: row;
    width: 100%;
 } 


.contact-icon {
    height: 50px;
    width: 50px;
}

.contact-icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin-left: 25%; */
    padding: 20px;
    justify-content: space-around;
    /* width: 350px; */
  
}
.contact-form-container {
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.duckies {
    width: 200px;
    height: 200px;
    float: left;
    padding-bottom: 15px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 10px;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
   
}
.contact-img {
    display: flex;
    flex-direction: row;
}

.contact-card-container {
    font-size: 25px;
    padding: 15px;
    float: right;
    text-align: center;
    width: 50%;
    margin-top: 40px;
   
}



.contact-card-main {
    padding: 1rem;
    border-radius: 14px;
    text-align: center;
    background-color: white;
    margin-top: 50px;
    margin-left: 15px;
    min-width: 250px !important;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.contact-form-card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    text-align: center;
    margin-right: 20px;
    background-color: white;
    margin-top: 50px;
    min-width: 250px !important;
}

.contact-flex {
    display: flex;

}